---
title: Priori
layout: standard
script: /js/tasks.js
include_utilities: true
---
%p &nbsp;

%form.ajax.row.weights#weights
  .weight.columns.large-6.medium-6.template
    .row.collapse
      .columns.large-4.medium-3.small-2.text-right
        .switch
          %input.switch-input.positive{name: 'positive', type: 'checkbox'}
          %label.switch-paddle
      .columns.large-8.medium-9.small-10
        %input.weight-name{type: 'text', placeholder: 'Weight Name'}
    

%a.parent-task.display-none Up
%label What's Next?
.tasks
%form.ajax.new-task.row#new-task
  %input.parent-id{type: 'hidden', name: 'parent-id'}
  %input.parent-id{type: 'hidden', name: 'action', value: 'new-task'}
  .columns.large-4.medium-4
    %input.task{type: 'text', name: 'task', required: true}
  %button.button{type: 'submit', style: 'display: none'} +
