---
title: Priori
layout: standard
script: /js/tasks.js
include_utilities: true
---
%p &nbsp;

%button.button.edit-weights Edit Weights
%form.row.display-none#edit-weights
  .weights
  .columns
    %button.button.add Add
  .columns
    %hr
.weight.columns.large-6.medium-6.template
  .row.collapse
    .columns.large-4.medium-3.small-2.text-right
      .switch
        %input.switch-input.positive{name: 'positive', type: 'checkbox'}
        %label.switch-paddle
    .columns.large-8.medium-9.small-10
      .input-group
        %input.weight-name.input-group-field{type: 'text', placeholder: 'Weight Name'}
        .input-group-button
          %button.button.delete X


%label What's Next?
.tasks


%form.new-task#new-task
  %input.parent-id{type: 'hidden', name: 'action', value: 'new-task'}
  .row
    .columns.large-6.medium-6
      %input.task{type: 'text', name: 'task', placeholder: 'Accomplishment', required: true}
  .task-weights.row
  .row.columns
    %button.button.add{type: 'submit'} Add
.task-weight.columns.large-4.medium-4.small-6.template
  .input-group
    %span.good-or-bad.input-group-label
    %input.input-group-field{type: 'number'}
