---
title: Priori
layout: general
script: /js/tasks.js
include_utilities: true
---
.task.template
  %a.button
%form.ajax.row{method: 'post', action: '/api/', 'data-callback' => 'new-task-success'}
  %input{type: 'hidden', name: 'parent-id', value: 0}
  .columns.large-5.medium-5
    %label
      New Task:
      %input.new-task{type: 'text', name: 'task', required: true}
  .columns.large-2.medium-2.small-3
    %label
      Difficulty:
      %input.new-task-difficulty{type: 'number', name: 'difficulty', required: true, min: 0, max: 2147483647}
  .columns.large-2.medium-2.small-3
    %label
      Short Term:
      %input.new-task-short-term{type: 'number', name: 'short-term', required: true, min: 0, max: 2147483647}
  .columns.large-2.medium-2.small-3
    %label
      Long Term:
      %input.new-task-long-term{type: 'number', name: 'long-term', required: true, min: 0, max: 2147483647}
  .columns.large-1.medium-1.small-3
    %label
      &nbsp;
      %button.button.expand{type: 'submit'} +
%hr
%h2 What's Next?
.tasks
