---
title: What's Next?
layout: general
script: /js/lists.js
include_utilities: true
include_promise: true
---
.list-item.template
  %a.button
.list-items
%form.ajax.row{method: 'post', action: '/new-list/', 'data-callback' => 'new-list-success'}
  .columns.large-6.medium-6.small-10
    %input.input-group-field.new-list-name{type: 'text', placeholder: 'New List', name: 'new-list-name', required: true}
  .columns.large-2.medium-2.small-2
    %button.button.expand.new-list-item{type: 'submit'} +
  .columns.large-5.medium-5
